/*style.css*/

.top {
    display: flex;
    padding: 8px;
    background-color: blueviolet;
    color: goldenrod;
}

.header {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content:space-between;
    background-color: lavenderblush;
    color:darkviolet;
}

#logo {
    font-size: xx-large;
}